body {
    font-size: 18px;
    font-family: Calibri, serif;
    text-align: center;
}

table {
    border: 2px solid #595b5d;
    border-radius: 5px;
    margin: auto;
}

input, select {
    font-size: 10px;
    font-family: Calibri, serif;
    font-weight: bold;
    border: 2px solid #466a7b;
    border-radius: 2px;
}

input[type=button], input[type=submit] {
    color: #e08c39
}
